{% include "empdatabase/navbar.html" %}

<link rel="stylesheet" href="/static/css/empdatabase/form.css">
<link rel="stylesheet" href="/static/css/empdatabase/tabmaster.css">

<div class="cls" style="margin-bottom: 5%; min-height: 50vh; display: grid; place-items: center;">
    <table class="table">
        <thead class="text-center">
          <tr>
            <th scope="col" style="width: 25%;">Name</th>
            <th scope="col" style="width: 20%;">User Level</th>
            <th scope="col" style="width: 20%;">User Key</th>
            <th scope="col" style="width: 20%;">User Lock</th>
            <th scope="col" style=" text-align: center;">Action</th>
            
          </tr>
        </thead>
        <tbody>
          {% for i in userdata %}
            <tr style="width: 968px;height: 36px;border: 1px solid #003666;text-align: center; color: #003666;">
              <td>{{i.fullname}}</td>
              <td>{{i.user_level}}</td>
              <td>{{i.user_key}}</td>
              <td>{{i.user_lock}}</td>
              <td><a href="/employeedb/master/plottypemaster/edit/?Id={{i.id}}" color="#003666"><i class="fa-solid fa-pen edit"></i></a>
                <a href="/employeedb/master/usermaster/del/?Id={{i.id}}" ><i class="fa-solid fa-trash-can del"></i></a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
</div>