{% include "empdatabase/navbar.html" %}
<link
  rel="stylesheet"
  href="/static/css/empdatabase/master.css"
/>
<link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
        <section class="home" style="text-align: center;">
            <div class="Uimaster">
                  <div class="container">
                    <div class="row mt-lg-4 mb-lg-4">
                      <div class="col">
                        <div class="master_container">
                            <div class="master_content">
                                <i class="fa-brands fa-product-hunt master_icon"></i>
                            </div>
                          </div>
                          <div class="bgtext">
                            <a href="/employeedb/allotment/plotallotment/">Plot Allotment</a>
                          </div>
                      </div>
                      <div class="col">
                        <div class="master_container">
                            <div class="master_content">
                                <i class="fa-solid fa-building-shield master_icon"></i>
                            </div>
                          </div>
                          <div class="bgtext">
                            <a href="/employeedb/master/usermaster/">Allotment List</a>
                          </div>
                      </div>
                      <div class="col">
                        <div class="master_container">
                            <div class="master_content">
                                <i class="fa-solid fa-rectangle-xmark master_icon"></i>
                            </div>
                          </div>
                          <div class="bgtext">
                            <a href="/employeedb/master/plotmaster/">Plot Allotment Cancel</a>
                          </div>
                      </div>
                    </div>
            </div>
        </section>
</body>
</html>