{% include "empdatabase/navbar.html" %}
<link
  rel="stylesheet"
  href="/static/css/empdatabase/master.css"
/>
<link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
        <section class="home" style="text-align: center;">
            <div class="Uimaster">
                  <div class="container">
                    <div class="row mt-lg-4 mb-lg-4">
                      <div class="col">
                        <div class="master_container">
                            <div class="master_content">
                                <i class="fa-solid fa-user master_icon"></i>
                            </div>
                          </div>
                          <div class="bgtext">
                            <a href="/employeedb/master/usermaster/">Flat Receipt Report</a>
                          </div>
                      </div>
                      <div class="col">
                        <div class="master_container">
                            <div class="master_content">
                                <i class="fa-solid fa-user-astronaut master_icon"></i>
                            </div>
                          </div>
                          <div class="bgtext">
                            <a href="/employeedb/master/usermaster/">Generate Invoice With GST</a>
                          </div>
                      </div>
                      <div class="col">
                        <div class="master_container">
                            <div class="master_content">
                                <i class="fa-solid fa-comments master_icon"></i>
                            </div>
                          </div>
                          <div class="bgtext">
                            <a href="/employeedb/master/plotmaster/">Generate Clients Ledger</a>
                          </div>
                      </div>
                    </div>
                      <div class="row mt-lg-4 mb-lg-4">
                        <div class="col">
                          <div class="master_container">
                              <div class="master_content">
                                <i class="fa-solid fa-chart-area master_icon"></i>
                              </div>
                            </div>
                            <div class="bgtext">
                                <a href="/employeedb/master/usermaster/">Cash / Cheque Report</a>
                              </div>
                        </div>
                        <div class="col">
                          <div class="master_container">
                              <div class="master_content">
                                <i class="fa-solid fa-person-chalkboard master_icon"></i>
                              </div>
                            </div>
                            <div class="bgtext">
                                <a href="/employeedb/master/usermaster/">Daily Collection Report</a>
                              </div>
                        </div>
                        <div class="col">
                          <div class="master_container">
                              <div class="master_content">
                                <i class="fa-solid fa-mountain-sun master_icon"></i>
                              </div>
                            </div>
                            <div class="bgtext">
                                <a href="/employeedb/master/usermaster/">Allotment Receipt Summary</a>
                              </div>
                        </div>
                      </div>
                  </div>
            </div>
        </section>
</body>
</html>